<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>

    <h4>Express</h4>
    <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>

    <h4>Node.js</h4>
    <p>Node.js® is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>

    <h4>Chart.js</h4>
    <p>Simple, clean and engaging charts for designers and developers</p>

    <h4>Bootstrap</h4>
    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web. Download Bootstrap</p>

</div>
