<br>
<form ng-submit="submit()">
    <div class="form-group">
        <input type="number" ng-model="text" name="text" placeholder="Enter Number" min="1" max="10000" required>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<!--
<form ng-submit="submit()">
<input type="text" ng-model="text" name="text" />
  <input type="submit" id="submit" value="Submit" />
  
</form>
-->

<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
</div>
